body {
  margin: 0%;
  padding: 0%;
}

.background-image {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.search-input {
  padding: 15px;
  margin-right: 25px;
  border: 1px solid #ccc;
  font-size: 100%;
}

.search-input:hover, .search-button:hover{
  border: 1px solid blue;
  box-shadow: 0 0 15px blue;
}

.search-button {
  padding: 10px 15px;
  background-color: wheat;
  color:black;
  border-radius: 5px;
  border-color: white;
  border-width: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
}

.weather-display{
  border: 5px black;
  background-color: wheat;
  padding: 10%;
  align-items: center;
  color:black;
}

.error-message{
  color: salmon;
  background-color: wheat;
  background-size: cover;
  padding: 10%;
}